@import (less) "lesshat.less";

@colorBrand: #00a58b;
@colorFg: #333;
@colorFgSubtle: lighten(@colorFg, 20);
@colorBg: hsl(0, 0%, 97%);
@colorLink: rgb(44, 135, 173);

@fontDefault: "Helvetica Neue", Helvetica, Arial, sans-serif;

@breakpointSmall: 600px;

@fontSize: 1em;
@fontSizeSmall: .8rem;
@fontSizeTiny: .6rem;

*, *:before, *:after {
	.box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	font-family: @fontDefault;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	background-color: @colorBg;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}

a {
	color: #2a7ae2;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #205caa;
}

strong {
	font-weight: 400;
}

.wrap {
	max-width: 900px;
	margin: 0 auto;
}
