@import (less) "lesshat.less";

@colorBrand: #00a58b;
@colorFg: #333;
@colorFgSubtle: lighten(@colorFg, 20);
@colorBorder: lighten(@colorFg, 60);
@colorBg: hsl(0, 0%, 97%);
@colorLink: rgb(44, 135, 173);

@fontDefault: "Helvetica Neue", Helvetica, Arial, sans-serif;

@breakpointSmall: 600px;

@fontSize: 16px;
@fontSizeSmall: .9rem;
@fontSizeTiny: .85rem;

*, *:before, *:after {
	.box-sizing(border-box);
}

.nowrap {
	overflow: hidden;
	display: block;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;;
}

html, body {
	height: 100%;
}

html {
	font-size: @fontSize;
	font-family: @fontDefault;
	line-height: 1.5;
	font-weight: 300;
}

body {
	background-color: @colorBg;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}

a {
	color: #2a7ae2;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:visited {
	color: #205caa;
}

strong {
	font-weight: 400;
}

.wrap {
	max-width: 990px;
	margin: 0 auto;
	padding: 0 10px;

	@media (min-width: @breakpointSmall) {
		padding: 0 15px;
	}
}

.tag {
	display: inline;
	margin-right: 5px;
	color: @colorFgSubtle;

	&:before {
		content: "#";
	}
}

#header {
	padding: 12px 0;

	.logo {
		display: inline-block;
		margin-right: 12px;
		text-transform: uppercase;
		color: @colorFg;
		font-size: 1.2rem;

		&:hover {
			text-decoration: none;
			color: @colorFgSubtle;
		}
	}
}

#content {
	margin-bottom: 50px;

	.wrap {
		padding: 0;
	}

	.portfolio {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&.container-fluid, .project-wrapper {
			padding-right: 5px !important;
			padding-left: 5px !important;
		}

		.project-wrapper {
			margin-bottom: 10px;
		}

		.project {
			display: block;
			border: 1px solid @colorBorder;
			background-color: white;
			text-decoration: none;
			color: @colorFgSubtle;

			&:hover {
				color: darken(@colorFgSubtle, 5);
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		.project-meta {
			padding: 7px;


			.description {
				font-size: @fontSizeTiny;
			}

			.date {
				float: right;
				margin-left: 5px;
			}
		}
	}
}

#footer {
	text-align: center;

	.social {
		.display(flex);
		.justify-content(center);

		a {
			display: block;
			margin: 5px;
			padding: 12px;
			text-decoration: none;
			background-color: darken(@colorBg, 6);
			border-radius: 50%;
			line-height: 1;

			&:hover {
				background-color: darken(@colorBg, 9);
			}
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.copyright {
		padding: 12px 0;
		text-transform: uppercase;
		color: @colorFgSubtle;
	}
}
