---
layout: default
---

<div class="portfolio container-fluid">
	<ul class="row">
		{% for post in site.posts%}
		<li class="project-wrapper col-md-3 col-sm-4 col-xs-6">
			<a class="project" href="{{ post.url }}">
				<img class="preview" src="/img/posts/thumbs/{{ post.preview }}.png" alt="{{ post.title }}" />
				<div class="project-meta">
					<span class="title nowrap">{{ post.title }}</span>
					<span class="description clearfix">
						<time class="date" datetime="{{ post.date }}" title="{{ post.date }}">{{ post.date | date: "%Y" }}</time>
						<ul class="tags nowrap">
							{% for tag in post.tags%}
							<li class="tag">{{ tag }}</li>
							{% endfor %}
						</ul>
					</span>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>


